@model IEnumerable<Comment1.Models.Post>

@{
    ViewBag.Title = "List of Comments";
}

    <h2>List of Comments</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.UserId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Message)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PostedDate)
    </td>
    <td>
        @if (item.UserId == User.Identity.Name)
        {
            @Html.ActionLink("Edit | ", "Edit", new { id = item.PostID })
            @Html.ActionLink("History | ", "Index", "PostsHistories", new { id = item.PostID }, null)
            @Html.ActionLink("Delete |", "Delete", new { id = item.PostID })
        }
        @Html.ActionLink("Details", "Details", new { id = item.PostID })

    </td>
</tr>
}

</table>
