@model Comment1.Models.PostsHistory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PostsHistory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PostID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChangedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChangedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HistoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
