@model IEnumerable<Comment1.Models.PostsHistory>

@{
    ViewBag.Title = "Modification History";
}

<h2>Modification History</h2>


<table class="table">
    <tr>
        <th>
            Old Message
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChangedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Back to list", "Index", "Posts", null, null)
